<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="snow.app.ideelee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
         android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDIm5kTcimNwFFZYl0JZrrLnJCUPgzqBJo" />
        <activity android:name=".perperson_permealmodule.BookingRequirements"></activity>
        <activity android:name=".extrafiles.PermissionsActivity"></activity>
        <activity
            android:name=".bookings.BookingPerDay"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".vehical_module.vehicle.VehicleCategories" />
        <activity android:name=".fixedpricemodule.VehicleWashSubCat" />
        <activity
            android:name=".fixedpricemodule.VehicleWashBookingAppointment"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fixedpricemodule.VehicleWashBookingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".perday_fixedpricemodule.RentalCategories" />
        <activity android:name=".perday_fixedpricemodule.RentalSubCat" />
        <activity android:name=".perhour_fixpricemodule.TeachingCategories" />
        <activity android:name=".CouponDetails" />
        <activity android:name=".CouponActivity" />
        <activity
            android:name=".perhour_fixpricemodule.TeachingBookingAppointment"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".perhour_fixpricemodule.TeachingSubCat" />
        <activity android:name=".Categories" />
        <activity android:name=".PaymentMethodActivity" />
        <activity android:name=".ServiceProfile" />
        <activity android:name=".fixedpricemodule.VehiclewashCategories" />
        <activity android:name=".RateServiceProviderActivity" />
        <activity android:name=".fooddelivery.cart.CartActivity" />
        <activity android:name=".PaymentSuccessfulActivity" />
        <activity android:name=".PaymentDetailsActivity" />
        <activity android:name=".perperson_permealmodule.EventBookingAppointment" />
        <activity
            android:name=".perperson_permealmodule.EventBookingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".fooddelivery.restdetails.RestDetailsActivity" />
        <activity android:name=".fooddelivery.restaurantsmod.RestaurantsList" />
        <activity
            android:name=".HomeScreen.help.HelpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".HomeScreen.orders.OrderDetails.OrderDetailActivity" />
        <activity
            android:name=".forgot.ForgotPassword"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".HomeScreen.orders.MyOrders" />
        <activity android:name=".BookingAppointment" />
        <activity
            android:name=".HomeScreen.HomeNavigation"
            android:label="@string/title_activity_home_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OTP"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Login"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen.ServiceActivity" />
        <activity android:name=".HomeScreen.invites.InviteActivity" />
        <activity
            android:name=".BookingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddAddress"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".LiveTracking" />
        <activity android:name=".vehical_module.vehicle.VehicalListing" />
        <activity android:name=".perhour_fixpricemodule.TeachingBookingActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".perday_fixedpricemodule.RentalBookingPerDay" />
        <activity
            android:name=".perday_fixedpricemodule.RentalBookingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".perperson_permealmodule.EventServicesCategories" />
        <activity android:name=".perperson_permealmodule.EventSubCat" />
        <activity android:name=".coupons.SelectCouponCat" />
        <activity android:name=".metre_square_module.HandymanCategories" />
        <activity android:name=".metre_square_module.HandyManListing" />
        <activity android:name=".metre_square_module.HandymanBookingPerDay" />
        <activity android:name=".metre_square_module.HandymanBookingRequirements" />
        <activity
            android:name=".metre_square_module.HandymanBookingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".carriers.CarriersCategories" />
        <activity android:name=".carriers.CarriersListing" />
        <activity android:name=".carriers.CarrierBookingRequirements" />
        <activity android:name=".carriers.CarrierBookingActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".carriers.CarrierBookingPerDay"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".perquantityperfloor.MovingliftingCategories" />
        <activity android:name=".perquantityperfloor.MovingLiftingListing" />
        <activity
            android:name=".perquantityperfloor.MovingLiftingBookingPerDay"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".perquantityperfloor.MovingBookingRequirements" />
        <activity
            android:name=".perquantityperfloor.MovingBookingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".perday_perweek_permonthmodule.GardeningListing" />
        <activity android:name=".perday_perweek_permonthmodule.GardeningCategories" />
        <activity
            android:name=".perday_perweek_permonthmodule.GardeningBookingPerDay"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".perday_perweek_permonthmodule.GardeningBookingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".camping.CampingCategories" />
        <activity android:name=".camping.CampingListing" />
        <activity
            android:name=".camping.CampingBookingPerDay"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".camping.CampingBookingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".camping.CampingBookingRequirements" />
        <activity android:name=".perquantity_fixprice.ElectricworkCategories" />
        <activity android:name=".perquantity_fixprice.ElectricListing" />
        <activity
            android:name=".perquantity_fixprice.ElectricBookingPerDay"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".perquantity_fixprice.ElectricBookingRequirements" />
        <activity
            android:name=".perquantity_fixprice.ElectricBookingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".extrafiles.ImagePickerActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".shoppingservices.ShoppingCategories" />
        <activity android:name=".shoppingservices.ShoppingListing" />
        <activity android:name=".shoppingservices.ShoppingBookingAppointment" />
        <activity android:name=".shoppingservices.ShoppingBookingActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".shoppingservices.ShoppingBookingPerDay" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <receiver android:name=".extrafiles.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>